<div class="pure-u-1 headMenu">
    <div class="head">
        <a href="/"><div class="title">omen.</div></a>
    </div>
    <div class="menu">
        <a href="#" class="menuClick"><div class="mobMenu menuicon-"></div></a>
        <ul class="pure-g-r">
            <li class="pure-u-1-8"><a href="/members">Members</a></li>
            <li class="pure-u-1-8"><a href="/works">Works</a></li>
            <li class="pure-u-1-8"><a href="#">About</a></li>
            <li class="pure-u-1-8"><a href="#">Exhib.</a></li>
            <li class="pure-u-1-8"><a href="#">Contact</a></li>
        </ul>
    </div>
</div>