<!DOCTYPE html>
<html>
<head>
    {{> meta_head}}
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<body>
    <div class="pure-g-r main">
        {{> head}}

        <div class="pure-u-5-8 content">
            {{> scrollpic_h}}  
        </div>

        {{> footer}} 
    </div>
</body>
<style>
/* handle javascript ON case */
html.yui3-js-enabled .photo{display:none}
html.yui3-js-enabled .photo.on{display:inline-block;position:relative}

html.yui3-js-enabled {
    height:100%;
}
html.yui3-js-enabled body {
    background:#fff url(/data/ajax-loader.gif) 50% 50% no-repeat;
    height:100%;
    width:100%;
}
</style>

<script src="/javascripts/omen.js"></script>
</html>