
.spin4icon-:before { content: '\e800'; } /* '' */
.menuicon-:before { content: '\e803'; } /* '' */
.angle-lefticon-:before { content: '\e802'; } /* '' */
.angle-righticon-:before { content: '\e801'; } /* '' */