html,
body {
  font-family: "Helvetica neue", Helvetica, Lucida Grande, Arial;
  color: rgba(123, 114, 153, 0.82);
  margin: 0;
  padding: 0;
  /*
    background-image: url(data:data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAABpCAMAAAAOXP0IAAAAElBMVEXv7+/8/Pzm5uby8vL4+Pjr6+s8Y2RHAAAAiUlEQVR42u3ZMQrAMAgFUJPo/a/csQRKoRSEljc4OJhAHp8MRsQYPRVzrXlWzq3PtfW1tr6ezMZ4c9aT2b6b+l6PEydOnO6dsio7ipM8ceLE6ftOfb8GJ3nixInTH5wqszqKkzxx4sTp+059vwYneeLEiZO9hr2GPHHixMlew15Dnjhx4sTpavYAfp9zffLSX1UAAAAASUVORK5CYII=);
    background-repeat: repeat;
    */
}
a {
  color: #7b7299;
}
a:link {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  background: #f3f7ff;
}
a:hover {
  text-decoration: none;
  background: #f3f7ff;
  text-shadow: -7px -5px 20px rgba(123, 114, 153, 0.42);
}
p {
  margin: 0px;
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}
.main {
  margin: 0px 5.55% 0px;
  background-color: #ffffff;
  /*
    background-image: url(data:data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAABpCAMAAAAOXP0IAAAAElBMVEXv7+/8/Pzm5uby8vL4+Pjr6+s8Y2RHAAAAiUlEQVR42u3ZMQrAMAgFUJPo/a/csQRKoRSEljc4OJhAHp8MRsQYPRVzrXlWzq3PtfW1tr6ezMZ4c9aT2b6b+l6PEydOnO6dsio7ipM8ceLE6ftOfb8GJ3nixInTH5wqszqKkzxx4sTp+059vwYneeLEiZO9hr2GPHHixMlew15Dnjhx4sTpavYAfp9zffLSX1UAAAAASUVORK5CYII=);
    background-repeat: repeat;
    */
}
.main .headMenu .head {
  display: block;
  height: 55px;
  margin-top: 12px;
}
.main .headMenu .head .title {
  font-family: "Helvetica neue", Helvetica, Lucida Grande, Arial;
  font-size: 360%;
  line-height: 55px;
  color: #ffffff;
  text-shadow: 0px 0px 0px #c5bcb5, 1px 2px 0px #a6a0aa, 2px 3px 0px #88849b, 3px 4px 0px #64688e, 4px 5px 0px #394f81, 5px 6px 0px #003676;
}
.main .headMenu .head .title:hover {
  text-shadow: 0px 6px 6px rgba(123, 114, 153, 0.62);
}
.main .headMenu .head .title:active {
  text-shadow: 168px 6px 6px rgba(123, 114, 153, 0.62);
}
.main .headMenu .menu ul {
  margin: .3em;
  padding: 0px;
}
.main .headMenu .menu ul li {
  line-height: 30px;
}
.main .headMenu .menu ul li a {
  color: rgba(123, 114, 153, 0.82);
}
.main .headMenu .menu ul li a:link {
  text-decoration: none;
}
.main .headMenu .menu ul li a:active {
  text-decoration: none;
  background: #f3f7ff;
}
.main .headMenu .menu ul li a:hover {
  text-decoration: line-through;
  text-shadow: 66px 2px 2px rgba(123, 114, 153, 0.82);
}
.main .footer {
  /*box-shadow: 0px -2px 6px rgba(123, 114, 153, 0.22);*/
  border-top: 1px solid rgba(123, 114, 153, 0.22);
  display: block;
  line-height: 24px;
  height: 24px;
  margin: 24px 0 0;
}
.main .footer .descSection {
  font-size: 80%;
}
.main .content {
  display: block;
  margin-top: 12px;
}
.main .content .photo {
  margin: 0 0 36px 0;
  position: relative;
  width: 100%;
  /* To layout horizontal LIs */
  /* For IE 6/7 - needs inline block hack (and the background color mentioned above) */
}
.main .content .photo.index {
  width: 360px;
}
.main .content .photo #scrollview-content {
  white-space: nowrap;
}
.main .content .photo #scrollview-content ul {
  padding: 0px;
  margin: 0px;
}
.main .content .photo #scrollview-content li {
  display: inline-block;
  background-color: #d5d5d5;
}
.main .content .photo #scrollview-content li .ph {
  display: inline-block;
  width: 360px;
  height: 480px;
  border-top: 0px dotted #d5d5d5;
  border-bottom: 0px dotted #d5d5d5;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transform: translate3d(0, 0, 0);
}
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main .content .photo #scrollview-content li .ph {
    display: inline-block;
    width: 280px;
    height: 280px;
    border-top: 0px dotted #d5d5d5;
    border-bottom: 0px dotted #d5d5d5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.main .content .photo #scrollview-content li {
  *display: inline;
  *zoom: 1;
}
.main .content .photo #scrollview-pager {
  position: absolute;
  left: 0px;
  top: 0;
  padding: 0px;
  z-index: 20;
  width: 100%;
}
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main .content .photo #scrollview-pager {
    position: absolute;
    left: 0px;
    top: 0;
    padding: 0px;
    z-index: 20;
    width: 100%;
  }
}
.main .content .photo #scrollview-prev,
.main .content .photo #scrollview-next {
  opacity: .8;
  color: #d5d5d5;
  border: 0px;
  background-color: #fff;
  width: 36px;
  height: 24px;
  display: inline-block;
  font-size: 80%;
  line-height: 12px;
}
.main .content .photo #scrollview-prev:hover,
.main .content .photo #scrollview-next:hover {
  color: rgba(123, 114, 153, 0.82);
  text-shadow: -7px -5px 20px rgba(123, 114, 153, 0.6);
}
.main .content .photo #scrollview-prev:active,
.main .content .photo #scrollview-next:active {
  color: rgba(123, 114, 153, 0.82);
  opacity: 1;
  text-shadow: -7px -5px 20px rgba(123, 114, 153, 0.6);
}
.main .content .photo #scrollview-next {
  float: right;
  text-align: right;
}
.main .content .photo #scrollview-prev {
  text-align: left;
}
.main .content .photo #scrollview-content img {
  border-width: 1px;
  border-style: solid;
  width: 320px;
  margin: 10px;
  -webkit-transform: translate3d(0, 0, 0);
}
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main .content .photo #scrollview-content img {
    border-width: 1px;
    border-style: solid;
    width: 320px;
    margin: 0px;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.main .content .photo .desc {
  width: 480px;
  display: inline-block;
  color: #d5d5d5;
  font-size: 88%;
  line-height: 24px;
  margin-top: 20px;
}
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main .content .photo {
    margin: 0;
    position: relative;
    width: 280px;
  }
}
