@import "fontello.css";
@import "animation.css";
@keyframes menuMove {
  from {
    left: -100%;
  }
  to {
    left: 6px;
  }
}
@-webkit-keyframes menuMove /* Safari and Chrome */ {
  from {
    left: -100%;
  }
  to {
    left: 6px;
  }
}
html,
body {
  font-family: "Helvetica neue", Helvetica, Lucida Grande, Arial;
  color: rgba(123, 114, 153, 0.82);
  margin: 0;
  padding: 0;
  /*
    background-image: url(data:data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAABpCAMAAAAOXP0IAAAAElBMVEXv7+/8/Pzm5uby8vL4+Pjr6+s8Y2RHAAAAiUlEQVR42u3ZMQrAMAgFUJPo/a/csQRKoRSEljc4OJhAHp8MRsQYPRVzrXlWzq3PtfW1tr6ezMZ4c9aT2b6b+l6PEydOnO6dsio7ipM8ceLE6ftOfb8GJ3nixInTH5wqszqKkzxx4sTp+059vwYneeLEiZO9hr2GPHHixMlew15Dnjhx4sTpavYAfp9zffLSX1UAAAAASUVORK5CYII=);
    background-repeat: repeat;
    */
}
a {
  color: #7b7299;
}
a:link {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  background: #f3f7ff;
}
a:hover {
  text-decoration: none;
  /*background: @c_gray_f3;*/
  text-shadow: -7px -5px 20px rgba(123, 114, 153, 0.42);
}
p {
  margin: 0px;
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}
ul {
  list-style-type: none;
}
.main {
  margin: 0px 5.55% 0px;
  background-color: #ffffff;
  /*
    background-image: url(data:data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAABpCAMAAAAOXP0IAAAAElBMVEXv7+/8/Pzm5uby8vL4+Pjr6+s8Y2RHAAAAiUlEQVR42u3ZMQrAMAgFUJPo/a/csQRKoRSEljc4OJhAHp8MRsQYPRVzrXlWzq3PtfW1tr6ezMZ4c9aT2b6b+l6PEydOnO6dsio7ipM8ceLE6ftOfb8GJ3nixInTH5wqszqKkzxx4sTp+059vwYneeLEiZO9hr2GPHHixMlew15Dnjhx4sTpavYAfp9zffLSX1UAAAAASUVORK5CYII=);
    background-repeat: repeat;
    */
}
.main .headMenu .head {
  display: block;
  height: 55px;
  margin-top: 12px;
}
.main .headMenu .head .title {
  font-family: "Helvetica neue", Helvetica, Lucida Grande, Arial;
  font-size: 360%;
  line-height: 55px;
  color: #ffffff;
  text-shadow: 0px 0px 0px #c5bcb5, 1px 2px 0px #a6a0aa, 2px 3px 0px #88849b, 3px 4px 0px #64688e, 4px 5px 0px #394f81, 5px 6px 0px #003676;
}
.main .headMenu .head .title:hover {
  text-shadow: 0px 6px 6px rgba(123, 114, 153, 0.62);
}
.main .headMenu .head .title:active {
  text-shadow: 0px 6px 6px rgba(123, 114, 153, 0.62);
}
.main .headMenu .menu .mobMenu {
  display: none;
}
.main .headMenu .menu ul {
  margin: .3em;
  padding: 0px;
}
.main .headMenu .menu ul li {
  line-height: 30px;
}
.main .headMenu .menu ul li a {
  color: rgba(123, 114, 153, 0.82);
}
.main .headMenu .menu ul li a:link {
  text-decoration: none;
}
.main .headMenu .menu ul li a:active {
  text-decoration: none;
  background: #f3f7ff;
}
.main .headMenu .menu ul li a:hover {
  text-decoration: line-through;
  text-shadow: 2px 2px 2px rgba(123, 114, 153, 0.82);
  background-color: rgba(255, 255, 255, 0);
}
.main .headMenu .menu ul li:hover {
  text-decoration: line-through;
  text-shadow: 2px 2px 2px rgba(123, 114, 153, 0.82);
  background-color: rgba(255, 255, 255, 0);
}
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .main .headMenu .menu {
    position: relative;
    top: 12px;
    z-index: 26;
    left: -6px;
    height: 0px;
  }
  .main .headMenu .menu ul {
    position: relative;
    left: -100%;
    background-color: rgba(255, 255, 255, 0.92);
    margin: 0px;
    opacity: 0;
  }
  .main .headMenu .menu ul.on {
    animation: menuMove 1s forwards;
    -webkit-animation: menuMove 1s forwards;
    /* Safari and Chrome */
    opacity: 0.9;
  }
  .main .headMenu .menu a:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .main .headMenu .menu a:active {
    background-color: rgba(255, 255, 255, 0);
  }
  .main .headMenu .menu .mobMenu {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2px;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid rgba(123, 114, 153, 0.22);
  }
}
.main .footer {
  /*box-shadow: 0px -2px 6px rgba(123, 114, 153, 0.22);*/
  border-top: 1px solid rgba(123, 114, 153, 0.22);
  display: block;
  line-height: 24px;
  height: 24px;
  /*margin: 24px 0 0;*/
}
.main .footer .descSection {
  font-size: 80%;
}
.member {
  margin: 10px 0;
  letter-spacing: -0.036em;
}
.member .man {
  display: block;
  height: 123px;
  padding: 6px 0 0 0;
  margin: 0 0 0 0;
  /*border-bottom: 1px dotted @c_purple_0;*/
}
.member .man .photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  border: 1px solid #d5d5d5;
}
.member .man .desc {
  display: inline-block;
  height: 120px;
  float: left;
  margin: 0 6px;
  color: rgba(123, 114, 153, 0.82);
}
.member .man .desc .largeF {
  font-size: 120%;
}
.member .man .desc .middleF {
  font-size: 80%;
}
.member .man .desc .smallF {
  font-size: 80%;
}
.member .man .desc div.work {
  margin: 6px 0 0 0;
}
.member .man .desc div.work a span {
  display: inline-block;
  line-height: 18px;
  border: 1px solid #c5bcb5;
  padding: 0px 6px;
  margin: 0 2px 0 0px;
  font-size: 80%;
}
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .member .man {
    display: block;
    height: 230px;
    /*border-top: 1px dotted @c_purple_0;*/
  }
  .member .man .photo {
    display: block;
    width: 100%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #d5d5d5;
  }
  .member .man .desc {
    display: block;
    line-height: 18px;
    margin: 6px 0 0 0;
  }
  .member .man .desc .largeF {
    font-size: 80%;
  }
  .member .man .desc .middleF {
    font-size: 80%;
  }
  .member .man .desc .smallF {
    font-size: 80%;
  }
}
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .member {
    position: relative;
    /*top: -166px;*/
  }
  .member.on {
    top: 0px;
  }
}
